---
import CustomPage from "@/layouts/CustomPage.astro";
import { Markdown } from "@astropub/md";
import { getEntry } from "astro:content";
// import { hasDetailedPage, type Work } from "./_data/types";
// import * as data from "./_data/works";
import * as data from "@/data/works";
import WorkCard from "@/components/work/WorkCard";

// * REDIRECT
return Astro.redirect("https://portfolio.hoqn.dev");

function unifyWorksWithDetail(works: data.Work[]) {
  return Promise.all(
    works.map(async (work) => {
      if (data.hasDetailedPage(work)) {
        const detail = await getEntry({
          collection: "works",
          slug: work.slug,
        });

        return {
          title: detail.data.title || undefined,
          icon: detail.data.icon || undefined,
          startDate: detail.data.start_date || undefined,
          endDate: detail.data.end_date || undefined,
          stacks: detail.data.stacks || undefined,
          links: detail.data.links || undefined,
          ...work,
        } satisfies data.Work;
      } else {
        return work;
      }
    }),
  );
}

const normalWorks: data.Work[] = await unifyWorksWithDetail(data.normal);
const miscWorks: data.Work[] = await unifyWorksWithDetail(data.misc);

// Migration
import PortfolioMigrationAlert from "./_migration";
---

<CustomPage
frontmatter={{
  title: "프로젝트",
}}>
<div slot="markdown-body::before">
    <div class="markdown-body">
      <Markdown of={``} />
      <div style="background-color: var(--grass9); color: var(--grass1); padding: 1rem;">
        <strong>
          죄송합니다.<br />이 페이지는
          <a style="color: inherit; text-decoration: underline;"href="https://hoqn.notion.site/8a92985f1b1946f485e0969146f4b3b4"
            >여기</a
          >로 이전하고 있어요. 
          <!-- 앞선 링크를 공식 포트폴리오로 생각해주시면 정말 감사드리겠습니다. -->
        </strong>
      </div>
    </div>

    <ul class="work-list work-list--normal">
      {
        //https://dev.to/cassidoo/passing-markdown-components-to-react-or-preact-in-astro-31ml
        normalWorks.map((item) => (
          <WorkCard
            {...item}
            href={
              data.hasDetailedPage(item) ? `/works/${item.slug}` : undefined
            }
          >
            {item.summary && <Markdown of={item.summary} slot="summary" />}
          </WorkCard>
        ))
      }
    </ul>

    <div class="markdown-body">
      <hr />
      <h2>작은 것들</h2>
      <p>아래는 아주 간단하거나, 도중에 중단된 프로젝트예요.</p>
    </div>

    <ul class="work-list work-list--misc">
      {
        miscWorks.map((item) => (
          <WorkCard
            {...item}
            href={
              data.hasDetailedPage(item) ? `/works/${item.slug}` : undefined
            }
          >
            {item.summary && <Markdown of={item.summary} slot="summary" />}
          </WorkCard>
        ))
      }
    </ul>
  </div>
</CustomPage>
<PortfolioMigrationAlert client:load />

<style lang="scss">
  @use "color";
  @use "mixin";
  @use "media";

  .work-list {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: 2rem 0;
  }
</style>
