---
import { t } from "i18next";
import Button from "./ui/button/button.astro";
---

<Button
  variant="text"
  tint="primary"
  id="color-scheme-btn"
  class="color-scheme-btn"
>
  <span class="color-scheme-btn__label--light"
    >{t("app.colorscheme.light")}</span
  >

  <span class="color-scheme-btn__label--dark">{t("app.colorscheme.dark")}</span>
</Button>

<script is:inline data-astro-rerun>
  (() => {
    const button = document.getElementById("color-scheme-btn");

    button?.addEventListener("click", function (e) {
      e.preventDefault();
      if (window.localStorage) {
        let value = document.documentElement.classList.contains("dark-theme")
          ? "light"
          : "dark";

        window.localStorage.setItem("color-scheme", value);

        if (value === "dark")
          document.documentElement.classList.add("dark-theme");
        else document.documentElement.classList.remove("dark-theme");
      }
    });
  })();
</script>

<style lang="scss">
  @use "media";

  .color-scheme-btn {
  }

  .color-scheme-btn__label--light {
    display: inline;
    @include media.dark-only {
      display: none;
    }
  }
  .color-scheme-btn__label--dark {
    display: none;
    @include media.dark-only {
      display: inline;
    }
  }
</style>
