---
import ListScaffoldLayout from "@/layouts/ListScaffoldLayout.astro";
import { getPostTagCollection } from "@/utils/collection-tags";

const tags = await getPostTagCollection();
---

<ListScaffoldLayout currentShowType="tag">
  <ul class="tag-list">
    {
      tags.map((tag) => (
        <li class="tag-list__item">
          <a class="pressable pressable--opacity" href={`/tag/${tag}`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</ListScaffoldLayout>

<style lang="scss">
  @use "color";
  @use "mixin";

  .tag-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    padding: 1rem 0;
  }

  .tag-list__item {
    > a {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      background-color: color.neutral(3);
      border-radius: 0.25rem;
      font-size: 0.875rem;

      &::before {
        content: "\0023";
        opacity: 0.25;
      }
    }
  }
</style>
