---
import type { CollectionEntry } from 'astro:content';
import PostListItem from './post-list-item.astro';
 
export interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<ul class="post-list">
  {
    posts.map((post) => (
      <li class="post-list__item">
          <PostListItem {post} />
        </li>
    ))
  }
</ul>

<style lang="scss">
  @use "color";

  .post-list {

  }

  .post-list__item {
    & + & {
      border-top: 1px solid color.primary(4);
    }
  }
</style>