@use "/src/styles/media" as media;
@use "/src/styles/color" as color;

.post-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-types__item {
  min-width: 16rem;
  flex: 1 1 0%;
}

.post-type {
  text-align: center;
}

.post-type__inner {
  composes: pressable pressable--opacity from global;
  display: inline-block;
  padding: 0.5rem 1rem;
  //
  border: 1px solid color.primary(7);
  background-color: color.primary(3);
}
