---
import ScaffoldLayout from './ScaffoldLayout.astro';
import PostList from '@/components/post/PostList';
import PostTypes from '@/components/post/PostTypes';

import PostOptions from "@/data/post.options";

import type { CollectionEntry } from "astro:content";

const { showTypes } = PostOptions;

export interface Props {
  posts: CollectionEntry<'posts'>[]
  currentShowType?: typeof showTypes[number]['key'];
}

const { currentShowType: currentTypeCode, posts } = Astro.props;

const currentShowType = showTypes.filter((cu) => cu.key === currentTypeCode).pop();
---

<ScaffoldLayout>
  {/* Local Header */}
  <header class="page-header container">
    <h2 class="page-header__title">
      {currentShowType?.display}
    </h2>
  </header>
  {/* Post Filter Options */}
  <!-- <section class="post-types-section container">
    <div class="post-types-section__body">
      <PostTypes types={showTypes.filter(({ key }) => currentTypeCode !== key)} />
    </div>
  </section> -->
  {/* Post List */}
  <section class="post-list-section container">
    <div class="post-list-section__body">
      <PostList {posts} client:load />
    </div>
  </section>
</ScaffoldLayout>

<style lang="scss">
  @use "/src/styles/color" as color;

  .page-header {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .page-header__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
  }

  .post-list-section {
    padding-bottom: 8rem;

    &__body {
    }
  }
</style>